{% extends "auctions/layout.html" %}

{% block body %}

    <h1>Create New Listing</h1>
    <br>
    <br>
    {% if message %}
        {{message}}
        <br>
        <br>
    {% endif %}

    <form action="{% url 'create' %}", method="post">
        {% csrf_token %}
        <div>
            <input type="text" name="title" placeholder="Title" required> (max 100 chars)
        </div>
        <br>
        <div>
            <textarea style="height: 20vh; width: 40%;" name="description" placeholder="Description" required></textarea>
        </div>
        <br>
        <div>
            <input type="number" step=".01" name="starting_bid" placeholder="Starting Bid" required>
        </div>
        <br>
        <div>
            <input type="text" name="image_url" placeholder="Image URL" style="width: 40%;">
        </div>
        <br>
        <div>
            <select name="category">
                <option disabled selected>Category</option>
                {% for category in categories %}
                    <option value="{{category.id}}">{{category.name}}</option>
                {% endfor %}
            </select>
        </div>
        <br>
        <input type="submit" value="Create">


    </form>

{% endblock %}